.navbar {
  background-color: #151829;
}

.notification-icon {
  color: lightgrey;
  background-color: none;
}

.nav-link {
  color: lightgrey;
}

.dropdown-menu {
  background-color: #2a3050;
}

.dropdown-divider {
  border: 1px solid rgb(160, 160, 160);
  border-width: thin;
}

.dropdown-item {
  color: lightgrey;
}

.navbar-toggler {
  position: absolute;
  left: 5%;
  right: "90%";
}
