
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


.classy-bq {

  border-left:1px solid #ccc;
  margin: 1.5em 10px;
  padding: .7em 25px;
  quotes: "\201C""\201D""\2018""\2019";
  color:black;
}
.classy-bq:before {
  color: black;
  content: open-quote;
  font-size: 8em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
  opacity:0.60;
}
blockquote p {
  display: inline;
  font-size: 1.5rem;
  line-height:1.5;
}
.blockquote-section {width:100%;max-width:1200px;margin:0 auto;opacity:0.95;padding:20px;}
.blockquote-section > cite {font-style:none}
.cite {color:white;padding-left:20px;font-size:1.25rem;}

.quote-body {
    background:inherit;
    padding-top:50px;

font-family: 'Montserrat', sans-serif;
}