
.landing-h1 {
font-weight: 100;
color: white;
text-align: center;
padding-bottom: 1px;
font-size: 4em;
/* border-bottom: 1px solid rgb(79, 98, 148); */
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    /* background-color: #6e4664; */
}

.card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translate3d(0px, -10px, 0px);
  }

  @media only screen and (max-width: 600px) {
    #delete-word {
      display: none;
    }
  }
